@model List<JobBoardApi.Models.Jobs>
@{
    ViewData["Title"] = "Home Page";
}

<nav class="navbar navbar-light bg-light">
    <a class="btn btn-success" asp-controller="Home" asp-action="Create">New</a>
</nav>

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col"></th>
            <th scope="col">Job Title</th>
            <th scope="col">Description</th>
            <th scope="col">Created At</th>
            <th scope="col">Expires At</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>

    <tbody>
        @{int i = 0; }
        @foreach (var item in Model)
        {
            i++;

        <tr>
            <td>@i.ToString()</td>
            <td>@item.JobTitle</td>
            <td>@item.Description</td>
            <td>@item.CreatedAt.ToShortDateString()</td>
            <td>@item.ExpiresAt.ToString()</td>
            <td><a class="btn btn-success" asp-controller="Home" asp-action="Edit" asp-route-jobKey="@item.Job" >Edit</a>
                <a class="btn btn-danger" asp-controller="Home" asp-action="Details" asp-route-jobKey="@item.Job">Delete</a></td>
        </tr>
        }
    </tbody>
</table>